html {
  height: 100%;
  width: 100%;
}
/* Alterations for all code in main */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 900px;
  margin-top: 20px;
  text-align: center;
}
/* Adjustment of the image size*/
img {
  max-width: 300px;
}
/* Background color */
body{
  background-color: #F9F9ED;
}

/* Alterations for the header */
header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: #110B11;
  Color: #F9F9ED;
  padding: 20px;
  padding-bottom: 40px;
}
/* Block that alters the image and introductory segment beside it */
.ek-intro {
  text-align: center;
  padding-top: 30px;
  display: block;
}

#ek-img {
  float: left;
  width: 45%;
  min-height: 300px;
}

.intro {
  padding: 30px;
  background-color: #e0e0d2;
  text-align: left;
  width: 45%;
  margin-left: 0px;
  float: left;
  height: 347px;
}

.clear-fix {
  clear: both;
}

/*heading colors*/
h2 {
  color: #7D84B2;
}

h3 {
  color: #7D84B2;
}

.about {
  text-align: left;
}

/* Alterations of the footer */
footer {
  height: 45px;
  color: #e0e0d2;
  margin-top: -730px;
  text-align: center;
  background-color:  #110B11;
  padding-top: 5px;
}

/* Changes to link colors */
a:link{ color: #8E9DCC; }
a:visited{ color: #D9DBF1; }
a:hover{ color: #7D84B2; }
a:active{ color: #646ca6; }
