html {
  height: 100%;
  width: 100%;
}
/* Alterations that effect all code in main, centering it and changing the font */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  text-align: center;
}
/* Adjustment of the image size */
img {
  max-width: 300px;
}
/* Background color */
body {
  background-color: #F9F9ED;
}

/* Alterations for the header */
header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: #110B11;
  Color: #F9F9ED;
  padding: 20px;
  padding-bottom: 40px;
}
/* Block that alters the image and introductory segment beside it */
.ek-intro {
  text-align: center;
  padding-top: 30px;
  display: block;
}
/* Alterations to my image to properly size it and float */
#ek-img {
  float: left;
  width: 45%;
  min-height: 300px;
}
/* Block for the intro section next to the image, floating the div beside the image and making the size match */
.intro {
  padding: 30px;
  background-color: #e0e0d2; /* Slightly darker background for the intro section */
  text-align: left;
  width: 45%;
  margin-left: 0px;
  float: left;
  height: 347px;
}
/* Clearing the float */
.clear-fix {
  clear: both;
}

/* h2 color */
h2 {
  color: #7D84B2;
}
/* h3 color */
h3 {
  color: #7D84B2;
}
/* Ensuring that the about section text is left-aligned as opposed to centered */
.about {
  text-align: left;
}

/* Alterations of the footer mainly ensuring that it is spaced properly on the screen and coloring it */
footer {
  height: 45px;
  color: #e0e0d2;
  margin-top: 8.5%;
  text-align: center;
  background-color:  #110B11;
  padding-top: 5px;
}

/* Changes to link colors */
/* Base color */
a:link{ color: #8E9DCC; }
/* Color after link is used */
a:visited{ color: #D9DBF1; }
/* Color when link is hovered over */
a:hover{ color: #7D84B2; }
/* Color when link is being clicked */
a:active{ color: #646ca6; }
